{% extends "student/stu_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_doubts.css' %}">
{% endblock %}

{% block title %}Ask Doubt{% endblock %}

{% block student_content %}

<div class="student-page">

    <div class="student-card">

        <h2>Ask a Doubt</h2>

        <form method="post">
            {% csrf_token %}

            <!-- Course Offering -->
            <label>Course</label>
            <select name="offering" required>
                {% for o in offerings %}
                <option value="{{ o.id }}">
                    {{ o.course.code }} — Section {{ o.section }} - {{ o.faculty.user.username }}
                </option>
                {% endfor %}
            </select>

            <!-- Doubt Visibility -->
            <label>Doubt Type</label>
            <select name="doubt_type" required>
                <option value="SECTION">Ask Section (Faculty + Students)</option>
                <option value="FACULTY">Ask Faculty Privately</option>
            </select>

            <!-- Title -->
            <label>Title</label>
            <input type="text" name="title" required>

            <!-- Description -->
            <label>Description</label>
            <textarea name="description" rows="5" required></textarea>

            <button type="submit" class="btn-primary">
                Post Doubt
            </button>

        </form>

    </div>

</div>

{% endblock %}