{% extends "student/stu_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<div class="password-wrapper">

    <div class="password-card">

        <h2>Change Password</h2>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group">
                <label>Old Password</label>
                {{ form.old_password }}
            </div>

            <div class="form-group">
                <label>New Password</label>
                {{ form.new_password1 }}
            </div>

            <div class="form-group">
                <label>Confirm New Password</label>
                {{ form.new_password2 }}
            </div>

            <button type="submit" class="password-btn">
                Update Password
            </button>

        </form>

    </div>

</div>
{% endblock %}