* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    min-height: 90vh;
    background-color:white ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding : 40px 36px;
    margin-left: 50px;
    text-align: center;
    padding-top: 10px;
}
.password-wrapper h2{
    font-size: 30px;
    font-weight: 600;
    color: #123fa1;
}

.password-wrapper p{
    font-size: 17px;
    color : #788194;
    margin-bottom: 26px;
    line-height: 1.5;
}

.password-wrapper img{
    width : 60%;
    margin-bottom: 16px;
    margin-top: -50px;
    margin: 0 auto 12px auto;  
}
.form-group{
    margin-bottom: 18px;
    position : relative;
}

.form-group input{
    width: 50%;
    padding : 12px 40px 12px 14px;
    border : 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;
}

.form-group input:focus{
    outline: none;
    border-color: #2f3e8f;
    box-shadow: 0 0 0 2px rgba(47, 62, 143, 0.2);
}

.btn{
    width : 40%;
    padding : 12px;
    border-radius: 8px;
    border:none;
    color: #ffffff;
    background: #1433e2;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background: #071a83;
}
.password-group {
    position: relative;
}

.password-group input {
    width: 50%;
    padding-right: 40px;
}

.toggle-password {
    position: relative;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #6c757d;
    user-select: none;
}

.toggle-password:hover {
    color: #2f3e8f;
}
