{% extends 'auth/auth_base.html' %}
{% load static %}

{% block title %}Set Password{% endblock %}
{% block extra_css %}
    <link rel = "stylesheet" href = "{% static 'css/password.css' %}">
{% endblock %}
{% block content %}
    <div class = "password-wrapper">
        <img id = "logoap"src = "https://play-lh.googleusercontent.com/jGpS2rPkSYw4O4gwAzM21OU5WhRzGSQLz0i02oRiWeN9VExr0uq1LOUD2dbCvwgV5Q=w600-h300-pc0xffffff-pd"/>
        <h2>Set your Password</h2>
        <p>Make sure it is easy for you to remember but hard for others to guess.</p>
        <form method="POST" action = "{% url 'password' %}">
            {% csrf_token %}

    <div class="form-group password-group">
        <input 
            placeholder="New Password" 
            type="password" 
            id="password" 
            name="password"
            required
        >
        <span class="toggle-password" onclick="togglePassword('password', this)">
            👁
        </span>
    </div>

    <div class="form-group password-group">
        <input 
            id="newpass" 
            name="confirm_password" 
            type="password" 
            placeholder="Confirm Password"
            required
        >
        <span class="toggle-password" onclick="togglePassword('newpass', this)">
            👁
        </span>
    </div>
    <button class="btn" type="submit">Submit</button>
</form>

    </div>
    <script>
function togglePassword(inputId, icon) {
    const input = document.getElementById(inputId);

    if (input.type === "password") {
        input.type = "text";
        icon.textContent = "🚫";   
    } else {
        input.type = "password";
        icon.textContent = "👁";     
    }
}
</script>
{% endblock %}