{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Mark Attendance{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/faculty_attendance.css' %}">
{% endblock %}

<div class="attendance-page mark">
{% block content %}
<style>
#attendance-active{
    background: #2f3e8f;
    color: #ffffff;
    }
</style>

<div class="attendance-container">

    <!-- Header -->
    <div class="attendance-header">
        <h2>{{offering.course.course_code}} - {{offering.course.course_title}}</h2>
        <p>
            {{offering.semester }} • 
            {{offering.course.department }} • 
            Section {{offering.section }}
        </p>
    </div>

    <form method="POST">
        {% csrf_token %}

        <div class="attendance-controls">

            <div class="control-group">
                <label>Date</label>
                <input type="date" name="date" value="{{ today }}" required>
            </div>

            <div class="control-group">
                <label>Start Time</label>
                <input type="time" name="start_time" required>
            </div>

            <div class="control-group">
                <label>End Time</label>
                <input type="time" name="end_time" required>
            </div>

            <button type="submit" class="btn primary">Save Attendance  </button>
        </div>

        <div class="attendance-table-wrapper">
            <table class="attendance-table">
                <thead></thead>
                    <tr>
                        <th>Roll No</th>
                        <th>Student Name</th>
                        <th>Present</th>
                        <th>Absent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for enrollment in students %}
                    <tr>
                        <td>{{ enrollment.student.username }}</td>
                        <td>{{ enrollment.student.get_full_name }} {{ enrollment.student.last_name }}</td>
                        <td>
                            <input type="radio"
                             name="status_{{ enrollment.student.id }}" 
                             value="present" 
                             checked>
                            </td>
                        <td>
                            <input type="radio" 
                            name="status_{{ enrollment.student.id }}" 
                            value="absent">
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="no-data">No students enrolled in this course.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</div>
{% endblock %}