{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Faculty Dashboard{% endblock %}
{% block page_title %}Faculty Dashboard{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/faculty_dashboard.css' %}">
{% endblock %}

{% block content %}
<style>
#dashboard-active{
    background: #2f3e8f;
    color: #ffffff;}
</style>
<div class="stats-wrapper">
    <div class="stats-grid">

        <div class="stat-card">
            <div class="stat-title">Courses Handling</div>
            <div class="stat-value">4</div>
        </div>

        <div class="stat-card">
            <div class="stat-title">Today’s Classes</div>
            <div class="stat-value">3</div>
        </div>

        <div class="stat-card">
            <div class="stat-title">Pending Attendance</div>
            <div class="stat-value">2</div>
        </div>

        <div class="stat-card">
            <div class="stat-title">Active Assignments</div>
            <div class="stat-value">5</div>
        </div>
    </div>
</div>
{% endblock %}
